@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tilt+Prism&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue-color: #2b3a64;
    --background-blue-color: hsl(224, 40%, 90%);
}

html {
    font-family: 'Roboto', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}
.hover-underline::after {
    content: '';
    width: 0;
    display: block;
    margin-inline: auto;
    background-color: currentcolor;
    height: 2px;
    transition: width 0.3s;
}
.hover-underline:hover::after {
    width: 100%;
}
